.slider-arrow {
    .arrow {
        padding: 19px 22px;
        position: absolute;
        border-radius: 50%;
        cursor: pointer;

        img {
            width: 15px;
        }
    }

    .arrow-right {
        background: $purple;
        right: -90px;
        top: 44%;
    }

    .arrow-left {
        background: #ffffff;
        left: -100px;
        top: 44%;
        box-shadow: 2px 8px 50px 2px darken($purple-light, 10%);
    }

    .arrow-mobile {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .slider-arrow {
        .arrow-left {
            left: -90px;
        }

        .arrow-right {
            right: -70px;
        }
    }
}

@media screen and (max-width: 950px) {
    .slider-arrow {
        .arrow-right {
            right: -60px;
        }

        .arrow-left {
            left: -75px;
        }
    }
}

@media screen and (max-width: 800px) {
    .slider-arrow {
        .arrow {
            display: none;
        }

        .arrow-mobile {
            display: inline;
            position: absolute;
            bottom: -42px;
            right: 47%;

            img {
                width: 20px;
            }
        }

        .arrow-right-mobile {
            margin-left: 30px;
        }

        .arrow-left-mobile {
            margin-right: 30px;
            bottom: -43.5px;

            img {
                width: 15px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .slider-arrow {
        .arrow-mobile {
            right: 44%;
        }
    }
}