.commerce-slider {
    padding: 100px 40px;
    padding-bottom: 130px;
    position: relative;

    @include media("<=400px") {
        padding: 100px 20px;
    }

    .tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 70px;
        margin-bottom: 30px;

        @include media("<=tablet") {
            padding: 0 20px;
        }

        @include media("<=500px") {
            padding: 0px 10px;
        }

        .tab {
            font-size: 17px;

            @include media("<=900px") {
                font-size: 15px;
            }

            @include media("<=tablet") {
                &:last-of-type {
                    display: none;
                }
            }

            @include media("<=600px") {
                &:nth-child(5) {
                    display: none;
                }
            }

            @include media("<=500px") {
                font-size: 14px;

                &:nth-child(4) {
                    display: none;
                }
            }
        }

        .active {
            padding: 8px 40px;
            border-radius: 3px;
            color: #ffffff;
            background: $yellow;

            @include media("<=500px") {
                padding: 8px 20px;
            }
        }
    }

    .commerce-container {
        .box-container {
            margin-top: 30px;
            margin-bottom: 10px;
            width: 100%;
            height: 430px;
            box-shadow: 0px 8px 44px -12px rgba(27, 58, 146, 0.16);
            overflow: hidden;

            @include media("<=1200px") {
                height: 450px;
            }

            @include media("<700px") {
                height: 430px;
            }

            @include media(">tablet") {
                &:hover {
                    .top {
                        height: 55%;
                    }

                    .bottom {
                        opacity: 1;
                        transition-delay: .6s;
                        transition-duration: .2s;
                    }
                }
            }



            .top {
                height: 55%;
                background-image: url("https://res.cloudinary.com/dmwfd0zhh/image/upload/v1599430078/Printstudio/Shop/pexels-rivan-ar-4092392_1-1_aus9wa.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 70%;
                transition: height .7s ease-out;

                @include media(">tablet") {
                    height: 100%;
                }

                @include media("<=400px") {
                    height: 50%;
                }

            }

            .bottom {
                width: 100%;
                opacity: 1;
                transition: opacity .2s ease-out;
                transition-delay: 0;
                background: #ffffff;

                @include media(">tablet") {
                    opacity: 0;
                }

                .top-content {
                    padding: 20px;
                    padding-bottom: 10px;

                    .title {
                        font-weight: 700;
                        font-size: 23px;
                        margin-bottom: 10px;
                    }

                    .desc {
                        padding-right: 10px;
                        color: #494949;
                        font-size: 13px;

                        @include media("<=1200px") {
                            font-size: 12px;
                        }
                    }
                }

                .bottom-content {
                    display: flex;
                    padding: 5px 20px;
                    justify-content: space-between;
                    align-items: center;


                    button {
                        @include button;
                        background: linear-gradient(0deg, #650088, #650088), #F2F2F2;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        border-radius: 3px;

                        a {
                            display: flex;
                            align-items: center;
                        }

                        span {
                            margin-right: 10px;
                        }

                        @include media("<=1200px") {
                            font-size: 12px;
                        }
                    }

                    .cost {
                        font-size: 25px;
                        font-weight: 700;

                        @include media("<=1200px") {
                            font-size: 20px;
                        }
                    }

                    .ratings {
                        .rating-box {
                            position: relative;
                            vertical-align: middle;
                            font-size: .8em;
                            font-family: FontAwesome;
                            display: inline-block;
                            color: #F6B93B;
                            ;

                            @include media("<=1200px") {
                                font-size: .7em;
                            }

                            @include media("<=950px") {
                                font-size: 0.8em;
                            }
                        }

                        .rating-box:before {
                            content: "\f006  \f006  \f006  \f006  \f006";
                        }

                        .rating-box .rating {
                            position: absolute;
                            left: 0;
                            top: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            color: #F6B93B;
                            ;
                        }

                        .rating-box .rating:before {
                            content: "\f005  \f005  \f005  \f005  \f005";
                        }
                    }
                }
            }

        }
    }

    .slider {
        .slick-list {
            margin: 0 -7px;

            .slick-slide>div {
                padding: 0 20px;

                @include media("<=1200px") {
                    padding: 0 15px;
                }
            }
        }
    }
}

.shop-arrow {
    .arrow {
        display: inline;
        position: absolute;
        padding: 15px 25px;
        cursor: pointer;
        right: 52%;
        box-shadow: 0px 8px 44px -12px rgba(27, 58, 146, 0.3);
        bottom: -8%;

        @include media("<=600px") {
            padding: 10px 20px;
            right: 55%;
        }
    }

    .arrow-right {
        margin-right: -90px;
    }

    .fas {
        font-size: 30px;

        @include media("<=600px") {
            font-size: 18px;
        }
    }
}