.upload-con {
    padding: 50px 0;

    &__inner {
        display: flex;
        position: relative;

        .left {
            width: 500px;
        }

        .right {
            background: url("../../assets/images/printer.svg") $yellow no-repeat 100% 50%;
            background-size: contain;
            background-blend-mode: overlay;

            position: relative;
            color: #ffffff;

            .content {
                padding: 100px 18%;
                padding-left: 32%;
            }

            .title {
                line-height: 1.3;
                font-size: 60px;
                font-weight: 700;
                margin-bottom: 30px;

                span {
                    @include yellowUnderline($purple);
                }
            }

            .sub {
                margin-bottom: 50px;
                line-height: 1.4;
            }

            img {
                position: absolute;
                width: 100px;
                top: 0;
                // opacity: .5;
            }

            button {
                @include button;
                background: $purple;
            }
        }

        .upload-box {
            background: #ffffff;
            box-shadow: 2px 8px 50px 0 rgba(0, 0, 0, 0.15);
            position: absolute;
            left: 12%;
            top: 12.5%;

            .content {
                padding: 40px 40px;

                .title {
                    font-size: 20px;
                    font-weight: 700;
                    color: #333238;
                    margin-bottom: 5px;
                }

                .sub {
                    color: #232327;
                    font-weight: 600;
                    margin-bottom: 25px;
                    font-size: 14px;
                }

                .drop-zone {
                    border: 1px dashed #838383;
                    font-size: 12px;
                    font-weight: 600;
                    text-align: center;
                    padding: 35px 100px;
                    margin-bottom: 30px;

                    img {
                        width: 30px;
                        margin-bottom: 10px;
                    }

                    .types {
                        color: #232327;
                        margin-bottom: 5px;
                    }

                    .alt {
                        color: #696969;
                        margin-bottom: 5px;
                    }

                    .click {
                        color: $purple;
                        cursor: pointer;
                        text-decoration: underline;
                        display: inline;
                    }
                }

                .options {
                    display: flex;
                    justify-content: flex-end;

                    button {
                        @include button;
                        background: $purple;
                        padding: 12px 12px;
                        font-size: 12px;
                        border-radius: 7px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .upload-con__inner {

        .upload-box {
            left: 50px;
        }

        .right {
            background-position: 120% 50%;

            .content {
                padding: 100px 5%;
                padding-left: 40%;
            }

            .title {
                font-size: 50px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .upload-con {
        padding: 0 10%;
        background: $yellow;

        &__inner {
            flex-direction: column;
            padding: 100px 5%;

            .right {
                background: none;

                button {
                    display: none;
                }

                .content {
                    text-align: center;
                    padding: 0;
                }
            }

            .left {
                display: none;
            }

            .upload-box {
                position: static;

                .content {
                    .drop-zone {
                        padding: 35px 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .upload-con {
        padding: 0 5%;

        &__inner {
            padding: 100px 0;

            .right {
                .title {
                    font-size: 40px;
                }

                .sub {
                    font-size: 14px;
                    padding: 0 40px;

                    span {
                        display: none;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 500px) {
    .upload-con__inner {

        .right .sub {
            padding: 0;
        }

        .upload-box .content {
            .title {
                font-size: 18px;
            }

            .drop-zone {
                padding: 35px 40px;
            }
        }
    }
}