@import '../../index.scss';

.progress-con {
    padding: 100px 0;
    position: relative;

    .content {
        background: $purple-light;
        padding: 60px 9%;
        padding-bottom: 160px;
        display: flex;
        align-items: center;

        img {
            width: 380px;
            height: 420px;
        }
    }

    .left {
        // padding-right: 30px;

        .topic {
            color: $purple;
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 18px;
        }

        .title {
            font-weight: 600;
            font-size: 40px;
            margin-bottom: 50px;
            line-height: 1.3;

            span {
                @include yellowUnderline(#F1D22A);
            }
        }

        .sub {
            font-weight: 500;
            margin-bottom: 40px;
            padding-right: 70px;
            font-size: 17px;
        }

        button {
            @include button;
            background: $purple;
        }

        .stats {
            display: flex;
            justify-content: flex-start;
            text-align: center;
            margin-bottom: 60px;

            .years {
                text-align: center;

                .number {
                    font-size: 50px;
                    font-weight: 600;
                    border-right: 2px #000000 solid;
                }

                .text {
                    font-weight: 500;
                    padding: 0 20px;
                }

                &:last-of-type {
                    .number {
                        border-right: none;
                    }
                }
            }
        }
    }

    .clients-con {
        display: flex;
        justify-content: center;
        margin-top: -60px;
    }

    .clients {
        display: flex;
        justify-content: center;
        // position: absolute;
        box-shadow: 2px 8px 50px 0 $purple-light;
        height: 120px;
        // width: 800px;

        .brand {
            width: 200px;
            background-repeat: no-repeat;
            background-blend-mode: luminosity;
        }

        .coke {
            background: url("../../assets/images/coke.png") #FFFFFF 50% 50%;
            background-size: contain;
        }

        .henny {
            background: url("../../assets/images/Henny.png") #FFFFFF 50% 50%;
            background-size: contain;
        }

        .airtel {
            background: url("../../assets/images/Airtel.png") #FFFFFF 50% 50%;
            background-size: contain;
        }

        .mtn {
            background: url("../../assets/images/mtn.png") #FFFFFF 50% 50%;
            background-size: contain;
        }
    }
}

@media screen and (max-width: 1050px) {
    .progress-con {

        .content {
            padding: 60px 4%;
            padding-bottom: 160px;


            img {
                width: 36%;
                height: 360px;
            }

            .left {
                .title {
                    font-size: 36px;
                    margin-bottom: 30px;
                }

                .sub {
                    font-size: 16px;
                }

                .stats {
                    .years {
                        .number {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 950px) {
    .progress-con {
        .content {
            justify-content: center;
            text-align: center;
            padding: 60px 10%;


            .left {
                button {
                    display: none;
                }

                .sub {
                    padding-right: 0;
                }
            }

            .stats {
                flex-direction: column;

                .years {
                    margin-bottom: 40px;

                    .number {
                        margin-bottom: 10px;
                        border: none;
                    }
                }

            }

            img {
                display: none;
            }
        }

        .clients-con {
            margin-top: -50px;
        }

        .clients {
            height: 100px;

            .brand {
                width: 150px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .progress-con {
        .clients-con {
            margin-top: -40px;
        }

        .clients {
            height: 80px;

            .brand {
                width: 130px;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .progress-con {

        .content {
            padding: 60px 3%;

            .left {
                .title {
                    font-size: 30px;
                }

                .sub {
                    font-size: 14px;

                    span {
                        display: none;

                    }
                }
            }
        }

        .clients-con {
            margin-top: -30px;
        }

        .clients {
            height: 60px;

            .brand {
                width: 100px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .progress-con {

        .clients {
            .brand {
                width: 80px;
            }
        }
    }
}