@import '../../index.scss';

.login-container {
    display: flex;
    min-height: 100vh;

    .left {
        overflow: hidden;
        position: relative;
        padding: 0 4%;
        padding-top: 10%;
        padding-right: 4%;
        padding-top: 65px;
        background: #F4DEFC;
        width: 41vw;

        .logo {
            font-family: $poppins;
            font-size: 22px;
            color: $purple;
            display: inline;
        }

        .title {
            color: #E9B300;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.3;
            margin-top: 20px;
        }

        img {
            width: 450px;
            position: absolute;
            bottom: 0;
        }
    }

    .right {
        position: relative;
        padding: 30px 50px;
        width: 59vw;

        .logo {
            display: none;
        }

        .to-sign-in {
            text-align: right;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 80px;

            a {
                color: #4285F4;
            }
        }

        .main {
            padding: 28px 30px;
            overflow: hidden;

            .title {
                font-weight: 600;
                font-size: 22px;
            }

            .options {
                padding: 25px 0;
                display: flex;
                justify-content: space-between;

                button {
                    @include button;

                    i {
                        font-size: 24px;
                    }
                }

                .google {
                    background: #4285F4;
                    display: flex;
                    align-items: center;
                    padding: 12px 60px;

                    i {
                        margin-right: 30px;
                        font-weight: 500;
                    }
                }

                .social {
                    padding: 12px 17px;
                    color: #515151;
                }
            }

            .other {
                text-align: center;
                position: relative;
                font-weight: 600;
                color: #ABABAB;

                &::before {
                    position: absolute;
                    content: '';
                    background: #707070;
                    height: 1px;
                    width: 42%;
                    left: 0;
                    top: 50%;
                }

                &::after {
                    position: absolute;
                    content: '';
                    background: #707070;
                    height: 1px;
                    width: 42%;
                    right: 0;
                    top: 50%;
                }
            }
        }

        // form

        .sign-form {

            label {
                margin-top: 30px;
                display: block;
                text-transform: uppercase;
                font-weight: 600;
                color: #333333;
                font-size: 14px;
                margin-bottom: 5px;
            }

            // .btn {
            //     // text-align: center;
            // }

            button {
                @include button;
                margin-top: 42px;
                background: #E9B300;
            }

            input {
                border-radius: 5px;
                border: none;
                background: #E6E6E6;
                outline: none;
                text-align: left;
                font-family: Circular-reg, sans-serif;
                padding: 13px 24px;
                font-size: 16px;
                width: calc(100% - 48px);
            }


            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                box-shadow: 0 0 0 30px #E6E6E6 inset !important;
                -webkit-box-shadow: 0 0 0 30px #E6E6E6 inset !important;
                // font-size: 16px;
                -webkit-text-fill-color: #000000 !important;
                // margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .login-container {
        .left {
            padding-right: 4%;
            width: 46vw;

            img {
                width: 400px;
            }

            .title {
                font-size: 28px;
            }
        }

        .right {
            padding: 30px 20px;

            .main {
                .options {
                    .google {
                        padding: 12px 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 995px) {
    .login-container {

        .left {
            .title {
                font-size: 29px;
            }

            img {
                left: -180px;
            }
        }

        .right {
            .main .options .google {
                padding: 12px 40px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .login-container {
        .left {
            display: none;
        }

        .right {
            width: 100vw;
            padding: 20px 10%;

            .to-sign-in {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .logo {
                display: inline;
                font-family: $poppins;
                font-size: 24px;
                color: $purple;
                margin-bottom: 20px;
            }

            .main {
                padding: 20px 15%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .login-container {
        .right {
            // padding: 20px 5%;

            .main {
                padding: 20px 10%;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .login-container {
        .right {
            // padding: 20px 5%;

            .main {
                padding: 20px 5%;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .login-container {
        .right {
            padding: 30px 5%;

            .main {
                padding: 20px 2%;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .login-container {
        .right {
            .main {
                .options {
                    .google {
                        padding: 12px 15px;

                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}