.product_container {
    nav {
        @include media("<=950px") {
            display: none;
        }
    }
}

.product-detail {
    display: grid;
    min-height: 90vh;
    padding: 80px 40px;
    display: grid;
    grid-template-columns: 12% 1fr 1fr;
    grid-gap: 50px;
    font-weight: 600;

    @include media("<=1100px") {
        grid-gap: 30px;
        padding: 80px 30px;
    }

    @include media("<=950px") {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        padding: 0;
    }

    @include media("<=650px") {
        grid-template-rows: .8fr 1fr;
    }

    @include media("<=550px") {
        grid-template-rows: .6fr 1fr;
    }


    .content {
        display: flex;
        flex-direction: column;
    }

    .left {
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(3, 200px);
        grid-gap: 30px;
        padding: 0 20px;

        @include media("<=1100px") {
            padding: 0 10px;
        }

        @include media("<=950px") {
            display: none;
        }

        .box {
            width: 100%;
            height: 90px;
            background: #aaaaaa;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 30%;

            @include media("<=1100px") {
                // height: 70px;
            }
        }
    }

    .middle {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .right {
        padding: 10px 0;
        padding-right: 25px;
        justify-content: center;

        @include media("<=950px") {
            padding: 80px 50px;
            padding-top: 30px;
            padding-right: 150px;
        }

        @include media("<=600px") {
            padding: 30px;
            // padding-top: 30px;
        }

        .back {
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 35px;

            @include media("<=1100px") {
                margin-bottom: 20px;
            }
        }

        .product {
            &-name {
                font-size: 42px;
                font-weight: 600;
                margin-bottom: 10px;

                @include media("<=1100px") {
                    font-size: 35px;
                }

                @include media("<450px") {
                    font-size: 30px;
                }
            }

            &-desc {
                font-size: 14px;
                margin-top: 50px;
                line-height: 1.5;
                margin-bottom: 40px;

                @include media("<=1100px") {
                    margin-top: 30px;
                }
            }

            &-tags {
                color: #7D7D7D;
                margin-bottom: 55px;

                @include media("<=950px") {
                    margin-bottom: 20px;
                }
            }

            &-panel {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include media("<=950px") {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 40px;
                }

                .left-panel {
                    display: flex;
                    align-items: center;

                    @include media("<=950px") {
                        margin-bottom: 10px;
                        margin-top: 30px;
                    }

                    .title {
                        font-weight: 700;
                        font-size: 20px;

                        @include media("<=1100px") {
                            font-size: 18px;
                        }
                    }

                    .plus,
                    .minus {
                        padding: 6px;
                        font-size: 18px;
                        margin: 8px 16px;
                        height: 24px;
                        width: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100px;
                        border: 1.5px solid #000;
                        cursor: pointer;
                    }
                }

                .right-panel {
                    font-weight: 700;
                    font-size: 20px;

                    @include media("<=1100px") {
                        font-size: 18px;
                    }
                }
            }

            &-actions {
                margin-top: 60px;
                display: flex;
                justify-content: space-between;

                @include media("<=650px") {
                    margin-top: 40px;
                }

                button {
                    @include button;
                    font-family: 'Gilroy', sans-serif;
                    background: #650088;
                    border-radius: 0;
                    font-size: 17px;
                    padding: 15px 40px;
                    font-weight: 600;

                    @include media("<=650px") {
                        font-size: 14px;
                        padding: 15px 25px;
                    }

                    &:first-child {
                        margin-right: 30px;
                    }

                    &:last-of-type {
                        background: transparent;
                        border: 1.5px solid #650088;
                        color: #650088;
                        padding: 15px 43px;

                        @include media("<=650px") {
                            padding: 15px 28px;
                        }
                    }
                }
            }
        }

        .ratings {
            .rating-box {
                position: relative;
                vertical-align: middle;
                font-size: 1em;
                font-family: FontAwesome;
                display: inline-block;
                color: #F6B93B;
                letter-spacing: .4em;

                @include media("<=1200px") {
                    font-size: .7em;
                }

                @include media("<=950px") {
                    font-size: 0.8em;
                }
            }

            .rating-box:before {
                content: "\f006  \f006  \f006  \f006  \f006";
            }

            .rating-box .rating {
                position: absolute;
                left: 0;
                top: 0;
                white-space: nowrap;
                overflow: hidden;
                color: #F6B93B;
            }

            .rating-box .rating:before {
                content: "\f005  \f005  \f005  \f005  \f005";
            }
        }
    }
}