$purple: #650088;
$purple2: #6A139F;
$white: #ffffff;

$purple-light: #FBF3FE;

$yellow: #F1D22A;

$poppins: 'Poppins',
sans-serif;

@mixin button {
    outline: none;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffff;
    padding: 10px 35px;
}

@mixin yellowUnderline($color) {
    background: linear-gradient(0deg, rgba(255, 0, 255, 0) 0%, rgba(255, 0, 255, 0) 16%, $color 16%, $color 32%, rgba(255, 0, 255, 0) 10%);
    padding: 0 0.1em 0 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}