@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Century';
  src: url("/src/assets/fonts/CenturyPSPro.ttf") format("truetype");
  font-weight: normal;
}